<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title>IP Me | IP, Location, and User Agent Lookup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Fast &amp; secure IP, location, and user-agent lookup" />
    <link rel="author" href="https://github.com/ptrfrll" />
    <meta name="author" content="PTRFRLL" /><meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="IP Me | IP, Location, and User Agent Lookup" /><meta
      property="og:description"
      content="IP Me | IP, Location, and User Agent Lookup"
    />
    <meta property="og:url" content="https://eyep.me/" /><meta property="og:image" content="https://eyep.me/og.png" />
    <meta property="og:type" content="website" /><meta name="twitter:card" content="summary_large_image" /><meta
      name="twitter:site"
      content="https://eyep.me/"
    />
    <meta name="twitter:creator" content="@ptrfrll" /><meta
      name="twitter:title"
      content="IP Me | IP, Location, and User Agent Lookup"
    />
    <meta name="twitter:description" content="Fast &amp; secure IP, location, and user-agent lookup" /><meta
      name="twitter:image"
      content="https://eyep.me/og.png"
    />
    <link rel="icon" href="/favicon.png" />
  </head>
  <body>
    <div class="container">
      <main class="content">
        {{{body}}}
      </main>
      <footer class="footer">
        Open source on
        <a rel="noreferrer" target="_blank" href="https://github.com/PTRFRLL/eyep.me">
          Github
        </a>
      </footer>
    </div>
  </body>
</html>