* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: -webkit-fill-available;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size:large;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.content {
    flex: 1 0 auto; 
    padding: 20px;
    h1, h2 {
        margin: 1rem;
    }
}

.footer {
    flex-shrink: 0; 
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.details{
    text-align: center;
}

a, a:visited, a:hover, a:active {
    color: white
}

@media screen and (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
    }
    a, a:visited, a:hover, a:active {
        color: black
    }
  }

  .records {
    text-align: left;
    p, li, h3, ul {
        margin: 20px;
    }
}

