body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

html{
    min-height: -webkit-fill-available;
}

@media screen and (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
    }
  }