.contain{
    display: flex;
    justify-content: center;
    font-size:large;
    flex-grow: 1;
}

.center{
    text-align:center;
    width:100%;
}

.error{
    font-size: xx-large;
}

.footer{
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
    position: sticky;
    bottom: 0;
}